@font-face {
    font-family: "f1Font";
    src: url("/static/fonts/Formula1-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "f1FontBold";
    src: url("/static/fonts/Formula1-Bold.ttf") format("truetype");
}

.center {
    text-align: center;
    justify-content: center;
}

.btn-edit,
.btn-edit,
.mobile-nav,
.navbar,
.block-divider {
    background-color: #FF0000;
}

.block-divider {
    width: 125px;
    height: 10px;
    border: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.mobile-nav {
    width: 200px;
}

.sidenav li>a {
    color: #ffffff;
}

.title {
    color: #000000;
}

.bold {
    font-family: "f1FontBold";
}

.select-wrapper input.select-dropdown,
.font {
    font-family: "f1Font";
}

/*------Materialize Form customization taken from https://stackoverflow.com/questions/37127123/change-color-of-underline-input-and-label-in-materialize-css-framework-*/
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #FF0000;
    box-shadow: 0 1px 0 0 #FF0000;
}

.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: #FF0000;
}

.select-wrapper input.select-dropdown {
    border-bottom: 1px solid #FF0000;
    box-shadow: 0 1px 0 0 #FF0000;
}

ul.dropdown-content.select-dropdown li span {
    color: #000000; 
}

.btn-red {
    justify-content: center;
}

.btn-edit:hover,
.btn-red:hover {
    background-color: #8b0000;
}

.term_header {
    padding-left: 20px;
}

.btn-edit {
    justify-content: center;
    width: 65px;
}

.welcome-message {
    padding-right: 12px;
}

.welcome-message-mbl {
    color: #ffffff;
    padding-left: 31px;
}

@media (max-width: 400px) {
    .btn-edit {
        display: block;
        margin-top: 5px;
    }
}